<div id="home-screen" class="container lg padding-20px-tb">
  <div class="row ml-3">
    <label class="switch">
      <input type="checkbox" />
      <span class="slider"></span>
    </label>
    <h4>&larr; Enable hard mode</h4>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card categories-card">
        <div class="card-img-overlay align-items-center">
          <div class="bg-white-opacity">
            <h3>
              <a (click)="onClickCategory('vote_AVERAGE')" href="#"
                >Vote Average</a
              >
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card categories-card">
        <div class="card-img-overlay align-items-center">
          <div class="bg-white-opacity">
            <h3>
              <a (click)="onClickCategory('popularity')" href="#">Popularity</a>
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card categories-card">
        <div class="card-img-overlay align-items-center">
          <div class="bg-white-opacity">
            <h3>
              <a (click)="onClickCategory('runtime')" href="#">Run Time</a>
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card categories-card">
        <div class="card-img-overlay align-items-center">
          <div class="bg-white-opacity">
            <h3>
              <a (click)="onClickCategory('revenue')" href="#">Revenue</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="categoryPlayed !== ''">
  <div [ngSwitch]="categoryPlayed">
    <div *ngSwitchCase="'revenue'">
      {{ initialMovie.title }} + {{ initialMovie.revenue }}
    </div>
    <div *ngSwitchDefault>output2</div>
  </div>
</div>
