<div id="home-screen" class="container lg padding-20px-tb">
  <div class="col my-3">
    <h5>Hard mode high score: {{ hardModeScore }}</h5>
    <h5>Easy mode high score: {{ easyModeScore }}</h5>
  </div>
  <div class="row ml-3">
    <label class="switch">
      <input type="checkbox" id="hardModeSlider" />
      <span class="slider"></span>
    </label>
    <h4>&larr; Enable hard mode</h4>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card categories-card">
        <div class="card-img-overlay align-items-center">
          <div class="bg-white-opacity">
            <h3>
              <a (click)="onClickCategory('vote_AVERAGE')" href="#"
                >Vote Average</a
              >
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card categories-card">
        <div class="card-img-overlay align-items-center">
          <div class="bg-white-opacity">
            <h3>
              <a (click)="onClickCategory('popularity')" href="#">Popularity</a>
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card categories-card">
        <div class="card-img-overlay align-items-center">
          <div class="bg-white-opacity">
            <h3>
              <a (click)="onClickCategory('runtime')" href="#">Run Time</a>
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card categories-card">
        <div class="card-img-overlay align-items-center">
          <div class="bg-white-opacity">
            <h3>
              <a (click)="onClickCategory('revenue')" href="#">Revenue</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="game-screen" *ngIf="categoryPlayed !== ''">
  <div class="row d-flex justify-content-center">Score: {{ currentScore }}</div>
  <div class="row d-flex justify-content-center" [ngSwitch]="categoryPlayed">
    <div *ngSwitchCase="'vote_AVERAGE'">
      <div>
        &#8220;{{ revealedMovie.original_TITLE }}&#8220; has
        {{ revealedMovie.vote_AVERAGE }} Vote Average
      </div>
      <div class="d-grid gap-2 col-6 mx-auto my-2 px-2">
        <button
          (click)="onHigherClicked()"
          type="button"
          class="btn btn-outline-success my-2 mx-auto"
        >
          Higher
        </button>
        <button
          (click)="onLowerClicked()"
          type="button"
          class="btn btn-outline-danger mb-2 mx-auto"
        >
          Lower
        </button>
      </div>
      <div>
        &#8220;{{ hiddenMovie.original_TITLE }}&#8220; has Higher/Lower
        {{ hiddenMovie.vote_AVERAGE }} Vote Average?
      </div>
    </div>
    <div *ngSwitchCase="'popularity'">
      <div>
        &#8220;{{ revealedMovie.original_TITLE }}&#8220; has
        {{ math.round(revealedMovie.popularity * 100) / 100 }} Popularity
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button
          (click)="onHigherClicked()"
          type="button"
          class="btn btn-outline-success"
        >
          Higher
        </button>
        <button
          (click)="onLowerClicked()"
          type="button"
          class="btn btn-outline-danger"
        >
          Lower
        </button>
      </div>
      <div>
        &#8220;{{ hiddenMovie.original_TITLE }}&#8220; has Higher/Lower
        {{ math.round(hiddenMovie.popularity * 100) / 100 }} Popularity
        Popularity?
      </div>
    </div>
    <div *ngSwitchCase="'runtime'">
      <div>
        &#8220;{{ revealedMovie.original_TITLE }}&#8220; has
        {{ revealedMovie.runtime }} Run Time
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button
          (click)="onHigherClicked()"
          type="button"
          class="btn btn-outline-success"
        >
          Higher
        </button>
        <button
          (click)="onLowerClicked()"
          type="button"
          class="btn btn-outline-danger"
        >
          Lower
        </button>
      </div>
      <div>
        &#8220;{{ hiddenMovie.original_TITLE }}&#8220; has Higher/Lower
        {{ hiddenMovie.runtime }} Run Time?
      </div>
    </div>
    <div *ngSwitchCase="'revenue'">
      <div>
        &#8220;{{ revealedMovie.original_TITLE }}&#8220; has
        {{ revealedMovie.revenue }}$ Revenue
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button
          (click)="onHigherClicked()"
          type="button"
          class="btn btn-outline-success"
        >
          Higher
        </button>
        <button
          (click)="onLowerClicked()"
          type="button"
          class="btn btn-outline-danger"
        >
          Lower
        </button>
      </div>
      <div>
        &#8220;{{ hiddenMovie.original_TITLE }}&#8220; has Higher/Lower
        {{ hiddenMovie.revenue }}$ Revenue?
      </div>
    </div>
    <div *ngSwitchDefault>output2</div>
  </div>
</div>
